@media(max-width:992px) {
    #sobre .container {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 52px;
    }
}

@media(max-width:768px) {
    nav {
        display: none;
    }

    #menuMobile {
        display: block;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 70px 0;
    }

    section h2 {
        font-size: 32px;
    }

    .produtos {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .logo img {
        height: 55px;
    }

    .whatsapp-texto{
        display:none;
    }

    .whatsapp{
        width:65px;
        height:65px;
        padding:0;
        justify-content:center;
        border-radius:50%;
    }

}

@media(max-width:480px) {
    .hero h1 {
        font-size: 34px;
    }

    .hero span {
        font-size: 18px;
    }

    .hero p {
        font-size: 16px;
    }

    .btn {
        width: 220px;
        text-align: center;
    }

    .mapa {
        height: 300px;
    }

}